/* reset styles */
:root {
  --slate1: hsl(206, 30%, 98.8%);
  --slate2: hsl(210, 16.7%, 97.6%);
  --slate3: hsl(209, 13.3%, 95.3%);
  --slate4: hsl(209, 12.2%, 93.2%);
  --slate5: hsl(208, 11.7%, 91.1%);
  --slate6: hsl(208, 11.3%, 88.9%);
  --slate7: hsl(207, 11.1%, 85.9%);
  --slate8: hsl(205, 10.7%, 78%);
  --slate9: hsl(206, 6%, 56.1%);
  --slate10: hsl(206, 5.8%, 52.3%);
  --slate11: hsl(206, 6%, 43.5%);
  --slate12: hsl(206, 24%, 9%);
}

.dark-theme {
  --slate1: hsl(200, 7%, 8.8%);
  --slate2: hsl(195, 7.1%, 11%);
  --slate3: hsl(197, 6.8%, 13.6%);
  --slate4: hsl(198, 6.6%, 15.8%);
  --slate5: hsl(199, 6.4%, 17.9%);
  --slate6: hsl(201, 6.2%, 20.5%);
  --slate7: hsl(203, 6%, 24.3%);
  --slate8: hsl(207, 5.6%, 31.6%);
  --slate9: hsl(206, 6%, 43.9%);
  --slate10: hsl(206, 5.2%, 49.5%);
  --slate11: hsl(206, 6%, 63%);
  --slate12: hsl(210, 6%, 93%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-feature-settings: normal;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--slate1);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1 {
  font-size: 2rem;
  color: var(--slate12);
}

#root {
  isolation: isolate;
  max-width: 60%;
  width: 100%;
  margin: 0 auto;
}

/* ui styles */

/* header { */
/*   position: sticky; */
/*   top: 1rem; */
/*   display: none; */
/* } */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--slate2);
  color: var(--slate11);
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 0.25rem;
  padding: 0.5rem 0;
  position: sticky;
}

ul.nav_list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  justify-content: space-around;
}

.nav_list_a {
  text-decoration: none;
  color: var(--slate11);
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  display: flex;
}

.nav_list_a:hover {
  color: var(--slate12);
  background: var(--slate4);
}

.pill {
  background-color: var(--slate3);
  padding: 0.1rem 0.5rem;
  margin-right: 0.5rem;
  color: var(--slate11);
  border-radius: 2rem;
  font-size: 0.8rem;
  user-select: none;
}

/* home section */

#home {
  /* height: 100%; */
  /* display: none; */
  margin-bottom: 2rem;
}

.home_container {
  display: flex;
  padding-top: 2rem;
}

.my_img_container {
  background: var(--slate2);
  border-radius: 50%;
  width: fit-content;
  width: 25%;
  height: 25%;
  overflow: hidden;
}

.my_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.home_body {
  padding: 0 1rem;
  width: 75%;
  margin-left: 2rem;
}

.home_body > h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: var(--slate12);
}

.home_about_text > span {
  font-size: 1rem;
  color: var(--slate11);
  margin-bottom: 1rem;
}

.home_about_text > p {
  margin-top: 1rem;
}

.home_about_text > span > strong {
  color: var(--slate12);
}

.social_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 2rem;
}

.social_link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--slate11);
  font-size: 1rem;
}

.social_link > span {
  margin-right: 0.5rem;
}

.social_link:hover {
  color: var(--slate12);
  text-decoration: underline;
}

/* experience section */

#experience {
  /* display: none; */
  margin-bottom: 2rem;
}

#experience > h1 {
  margin-bottom: 2rem;
}

.experience_container {
  display: flex;
  padding-bottom: 2rem;
}

.experience_left {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.experience_left > p {
  font-size: 1rem;
  color: var(--slate11);
}

.experience_right {
  width: 75%;
}

.experience_card > a {
  font-size: 1rem;
  color: var(--slate12);
  font-weight: 400;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.experience_card > a:hover {
  text-decoration: underline;
}

.experience_card > h2 {
  font-size: 1.5rem;
  color: var(--slate12);
  margin-bottom: 0.5rem;
}

.experience_card > p {
  font-size: 1rem;
  color: var(--slate11);
}

/* projects section  */

#projects {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.projects_list {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

#projects > h1 {
  margin-bottom: 2rem;
}

.project {
  border-radius: 0.25rem;
  border: 1px solid var(--slate7);
  flex: 1;
  max-width: 50%;
  display: flex;
  flex-direction: column;
}

.project:hover {
  border: 1px solid var(--slate8);
}

.project_body {
  padding: 1rem;
}

.project_body > h2 {
  font-size: 1.5rem;
  color: var(--slate12);
  margin-bottom: 0.5rem;
}
.project_body > p {
  font-size: 1rem;
  color: var(--slate11);
}

.project_body > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 0.5rem;
  display: flex;
}

.project .links {
  width: 100%;
  display: flex;
  align-items: center;
  border-top: 1px solid var(--slate7);
  margin-top: auto;
  position: relative;
}

.project .links::after {
  content: "";
  border: 0.8px solid var(--slate7);
  height: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}

.project .links > a {
  display: inline-block;
  text-decoration: none;
  color: var(--slate12);
  flex: 1;
  text-align: center;
  padding: 1rem 0;
}

.project .links > a:hover {
  text-decoration: underline;
}

/* blog section */

#blog {
  margin-bottom: 2rem;
}

#blog > h1 {
  margin-bottom: 2rem;
}

.blog_list {
  display: flex;
  flex-direction: column;
}

.blog_container {
  display: flex;
  gap: 1rem;
  align-items: start;
  margin-bottom: 3rem;
}

.blog_left {
  width: 40%;
  display: flex;
}

.blog_left > img {
  width: 100%;
  height: 100%;
  border-radius: 0.25rem;
  object-fit: contain;
}

.blog_right {
  width: 60%;
}

.blog_right > a {
  font-size: 1.5rem;
  color: var(--slate12);
  margin-top: -0.5rem;
  display: block;
  text-decoration: none;
  margin-bottom: 0.25rem;
}

.blog_right > a:hover {
  text-decoration: underline;
}

.blog_right > p {
  font-size: 1rem;
  color: var(--slate11);
  margin-top: 0.25rem;
}

.blog_date_time {
  color: var(--slate11);
  font-size: 0.8rem;
}

/* contact setction */

#contact {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

#contact > h1 {
  margin-bottom: 2rem;
}

#contact > input,
textarea {
  display: block;
  width: 100%;
  border-radius: 0.25rem;
  border: 1px solid var(--slate7);
  background-color: var(--slate1);
  padding: 0.75rem 1rem;
  font-size: 1rem;
  color: var(--slate12);
  transition: all 0.15s ease-in;
  margin-bottom: 1rem;
}

#contact > button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  cursor: pointer;
  border: var(--slate9);
  background-color: var(--slate9);
  color: white;
  font-size: 1rem;
  padding: 0.75rem 1rem;
  text-align: center;
  /* transition: all 0.15s ease-in; */
}
